:root {
  --text-color: #333;
  --decoration-color: #ddd;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Lato, "Open Sans", sans-serif;
  font-size: 22px;
  color: var(--text-color);
}

img,
a,
.github-pages,
.social-link,
.scroll-up {
  transition: all 0.3s;
  text-decoration: none;
}

::selection {
  background: var(--text-color);
  color: #fff;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  100% {
    visibility: visible;
  }

  50% {
    visibility: hidden;
  }
}

#navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 91px;
  width: 100%;
  background-color: black;
  padding: 0 20px;
  z-index: 1000;
  overflow: hidden;
}

#logo-container {
  margin-left: 10vw;
}

#logo {
  height: 75px;
  width: 75px;
}

#nav-list {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: 100;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  background-color: white;
  border-bottom: 2px solid var(--decoration-color);
}

#title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 30vw;
}

#title-container h2 {
  animation: fade-in 1s linear;
}

#welcome-section h2 {
  font-size: 1.3em;
  font-weight: 150;
  font-style: italic;
  margin-top: 5%;
}

#cursor {
  animation: blink 1s step-end infinite 0.8s; /* Adjust animation duration as needed */
}

h1 {
  font-size: 3em;
  font-weight: 100;
}

#projects {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  background-color: white;
  position: relative;
  scroll-margin-top: 50px;
}

#projects-section-title {
  background-color: var(--decoration-color);
  width: 50vw;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 25%;
}

#projects-section-title h2 {
  background-color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.project-tile {
  margin-top: 5%;
  width: 700px;
  border-top: 20px solid var(--decoration-color);
  border-left: 20px solid var(--decoration-color);
  border-right: 20px solid var(--decoration-color);
  background-color: var(--text-color);
  position: relative;
}

.project-image {
  width: 100%;
  object-fit: cover;
}

.project-tile p {
  border-top: 20px solid var(--decoration-color);
  border-bottom: 20px solid var(--decoration-color);
  text-decoration: none;
  color: var(--decoration-color);
  text-align: center;
  padding: 10px;
}

.github-pages {
  background-color: var(--decoration-color);
  color: var(--text-color);
  opacity: 0;
  position: absolute;
  right: 10px;
}

#contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  width: 100vw;
  background-color: var(--decoration-color);
  border-top: 2px solid var(--decoration-color);
  border-bottom: 2px solid var(--decoration-color);
}

.social-links {
  font-size: 4rem;
  width: 180px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.social-link {
  text-decoration: none;
  color: var(--text-color);
  margin: 10px;
}

.contact-logo img {
  border-radius: 5%;
}

#footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 91px;
  background-color: black;
  overflow: hidden;
}

.scroll-up {
  width: fit-content;
  background-color: black;
  cursor: pointer;
}

.scroll-up-link {
  text-decoration: 0;
  color: var(--decoration-color);
  font-size: 2.5rem;
}

#logo:hover,
.nav-link:hover,
.project-tile a:hover > .project-image,
.social-link:hover {
  opacity: 0.7;
}

.project-tile a:hover .github-pages {
  opacity: 1;
}

.scroll-up:hover {
  transform: translateY(-10px);
}

/* Mobile devices (up to 600px) */

@media only screen and (width <=600px) {
  #navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    overflow: hidden;
  }

  #title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50vw;
  }

  #logo-container {
    margin: 0;
  }

  #nav-list {
    display: flex;
    flex-flow: row wrap;
    font-size: 0.8em;
    width: 50vw;
  }

  .contact-logo img {
    height: 100%;
    width: 100%;
    margin: -10px;
  }

  .social-links {
    margin: 0;
  }
}
